p1 {
    font-weight: bolder;
    font-size: 25px;
}

h1 {
text-align: center;

}
form {
    margin-bottom: 10px;
}
.jumboCard {
    float: right;
    margin-bottom: 10px;

}
.card-deck{
    border-width: 2px;
}

.card{
    border-width: 2px;
}