p1 {
    font-weight: bolder;
    font-size: 25px;
}

h1 {
text-align: center;

}
form {
    margin-bottom: 10px;
}
.jumboCard {
    float: right;
    margin-bottom: 10px;
    border-width: 3px;
    border-color: blue;

}
.card-deck{
    border-width: 2px;
    margin-top: 30px;
    float: right;
}

.card{
    border-width: 3px;
    float: right;
}

.cityStorage {
    max-height: 30px;
    max-width: 30px;
    margin-top: 10px;

}